<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="org.zerock.myapp.mapper.GroupDetailPlanMapper">
    <insert id="insert">
	        <selectKey keyProperty="detailPlanNo" order="AFTER" resultType="int">
	            SELECT "ISEQ$$_82778".CURRVAL FROM dual  
	        </selectKey>
	            INSERT INTO TBL_GROUP_DETAILPLAN (PLANNO, PLANDAY, PLANTIME, PLACE, DETAILPLAN) VALUES (#{planNo}, #{planDay}, #{planTime, jdbcType=DATE}, #{place}, #{detailPlan})
	    </insert>

   

    </mapper>