* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

ui, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1200px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

/* rem : 최상위 값 * 3 */
.board_title strong {
    font-size: 3rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    /* font-size=0, 버튼 가운데 여백이 사라짐 */
    font-size: 0;
}

.bt_wrap button {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    /* 상,하,좌,우 여백은 10px */
    padding: 10px; 
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    background: #2B65F8;
    color: #fff;
}

/* margin-left 10px을 주면 전체적으로 오른쪽으로 밀림
   목록버튼은 자리 유지 */
.bt_wrap button:first-child {
    margin-left: 0;
}

.board_list {
    width: 100%;
    border-top: 1px solid #000 ;
}

.board_list > div {
    border-bottom: 1px solid rgb(208, 207, 207);
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 2px solid rgb(208, 207, 207);
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
    /* 세로 맞춤 */
    vertical-align: middle;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    color: black;
} 

.board_list > div:hover {
    color: #2B65F8;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 40%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .nickname {
    width: 20%;
}

.board_list .date {
    width: 20%;
}

.board_list .readcnt {
    width: 10%;
}

.board_page {
    /* 위로 여백 떨어짐 */
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page .Prev,
.board_page .pageNum,
.board_page .Next {
    display: inline-block;
    width: 32px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid rgb(208, 207, 207) ;
    border-left: 0;
    vertical-align: middle;
    line-height: 100%;
}

/* .board_page a {
    display: inline-block;
    width: 32px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid rgb(208, 207, 207) ;
    border-left: 0;
    vertical-align: middle;
    line-height: 100%;
} */

.board_page .Prev,
.board_page .Next {
    width: 40px;
    padding-top: 10px;
    font-size: 1.2rem;
    /* << 사이 조정 */
    letter-spacing: -1px;
    cursor: pointer;
}

.board_page .pageNum {
    padding-top: 9px;
    font-size: 1.4rem;
    cursor: pointer;
}

/* .board_page a.num.on {
    border-color: #2B65F8;
    background: #2B65F8 ;
    color: #fff;
} */

.current {
    border-color: #2B65F8;
    background: #2B65F8 ;
    color: #fff;
}

.board_page .Prev {
    border-left: 1px solid rgb(208, 207, 207) ;
}

.board_page .pageNum {
    border-left: 1px solid rgb(208, 207, 207) ;
}

/* .board_page a:first-child {
    border-left: 1px solid rgb(208, 207, 207) ;
} */
