@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* color: color-constrast(aquamarine vs pink, yellow, green); */
/* accent-color: white; */

:root {
  --color-white: #eee ;
  --color-light-gray: lightgray;
  --color-gray: gray;
  --color-dark-gray: darkslategray;
  --color-skyblue: skyblue;
  --color-mark-blue: #2B65F8;
/* color: var(--color-dark-gray) */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul, li, ol {
  list-style-type: none;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit
}

body {
  width: 1200px;
  margin: auto;
}

/* button {
  border: none;
  background-color: transparent;
} */