@charset "utf8";

/* css 초기화 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.container {
  width: 1200px;
  margin: 20px auto;

}

/* 파일 업로드 영역 */
.uploadDiv {

  width: 100%;
  margin: 20px auto;
  position: relative;
  font-size: 16px;

}

.uploadBtn {
  display: inline-block;
  background-color: #e4e3e3;
  color: rgb(85, 84, 84);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 15px auto;
  width: 100%;
  height: 40px;
  box-shadow: 0px 0px 2px #969696;

}

.uploadBtn:hover {
  background-color: #2B65F8;
  color: white;
}






/* 사진 미리보기 영역 */
.uploadResult {
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 0px 5px #c0bebe;
  flex-wrap: wrap;
  gap: 10px;
  height: 320px;
  background-color: #EFF2F6;
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 50px;
}


.uploadResult ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.uploadResult ul li {
  list-style: none;
  padding: 10px;
  align-content: center;
  text-align: center;
}

.uploadResult ul li img{
  /* display: inline-block; */
  /* height: 100%; */
  width: 100px;
}

.uploadResult ul li span {
  color: rgb(22, 22, 22);
  background-color: #b3b1b1;
  /* border-radius: 50%; */
  border: none;
  margin: auto;
}



h1 {
  font-size: 30px;
  margin: 20px auto;

}



/* 태그 입력란 */
.tag-box {
  position: relative;
  /* border: 1px solid #ccc; */
  margin: 0px auto;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background-color: #F5F5F5;
  text-align: center;
  box-shadow: 0px 0px 5px #c0bebe;
}

.areatag-box {
  position: absolute;
  margin: 0px auto;
  top: 20px;

  left: 50%;
  transform: translate(-50%, 0%);
}

.customtag-box {
  position: absolute;
  margin: 0px auto;
  bottom: 20px;

  left: 50%;
  transform: translate(-50%, 0%);
}

span {
  color: #5e5e5e;
  font-size: 13px;

}


/* 제목, 닉네임 */
.title {
  width: 100%;
  height: 30px;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 15px auto;
  box-shadow: 0px 0px 2px #d2d2d2;
}

.content-wrap > .area {
  width: 100%;
  height: 30px;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 15px auto;
  box-shadow: 0px 0px 2px #d2d2d2;
}

/* 내용 쓰기 */
.content-wrap > textarea {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 10px;
  font-size: 16px;
  text-align: left;
  box-shadow: 0px 0px 2px #d2d2d2;
}

/* 닉네임,제목,내용 클릭시 보더라인 색깔 변경*/
.title:focus {
  border-color: #2B65F8;
  outline: none;
}

.area:focus {
  border-color: #2B65F8;
  outline: none;
}

textarea:focus {
  border-color: #2B65F8;
  outline: none;
}



/* 버튼 */

.button {
  position: relative;
  margin-bottom: 300px !important;
}


.submitBtn {
  margin: 60px auto;
  height: 50px;
  width: 240px;
  color: white;
  text-align: center;
  font-size: 25px;
  background-color: #2B65F8;
  border: none;
  box-shadow: 0px 0px 2px #d2d2d2;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  transform : translate(-50%);
  left: 50%;
}

.submitBtn:hover {
  background-color: #5e8cff;
}

.listBtn {
  margin: 60px auto;
  height: 50px;
  width: 200px;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: #949494;
  border: none;
  box-shadow: 0px 0px 2px #d2d2d2;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;

}

.listBtn:hover {
  background-color: hsl(0, 0%, 43%);
  color: black;
}
